## Introduction to Python

In [1]:
# A variable is created when a value is assigned to it
v = 3.6
v

3.6

In [2]:
# There are three types of numbers; int, float and complex
i = 314
i

314

In [3]:
f = 3.14e2
f

314.0

In [4]:
z = 2+3j
z

(2+3j)

In [5]:
# The type of a variable can be checked with isinstance(...)
b = isinstance(i,float)
b

False

In [6]:
# Strings (str) are surrounded by single or double quotes
b = isinstance("i",str)
b

True

In [7]:
# Casting using constructor functions;
# int(...), float(...), str(...)
i = int(3.14)
i

3

In [8]:
f = float(3)
f

3.0

In [9]:
s = str(3.14)
s

'3.14'

In [10]:
f = float(s)
f

3.14

In [11]:
# Arithmetic operators;
# +, -, *, /, ** (exp.), // (floor div.), % (modulus)
v = 2.0 + 2**3
v

10.0

In [12]:
# Assignment operators;
# =, +=, -=, *=, /=
x = 12
x += 2
x

14

In [13]:
# Comparison operators;
# ==, !=, >, <, >=, <=
b = (2.0 == 2)
b

True

In [14]:
# Logical operators;
# and, or, not
b = (1+1 == 2 and not(4>5))
b

True

In [15]:
# Identity operators;
# is, is not
b = (2 is 2.0)
b

False

In [16]:
b = (1+1 is 2)
b

True

In [17]:
# Lists (indexed, ordered, changeable)
languages = ["Python","r","Julia"]
first_element = languages[0]
all_but_first = languages[1:]
all_but_last = languages[:-1]
first_two = languages[0:2]
languages[1] = "R"
languages += ["Java"]
languages

['Python', 'R', 'Julia', 'Java']

In [18]:
l = ["a",1,2,"b","b"]
len(l)

5

In [19]:
l.count("b")

2

In [20]:
# Tuples (indexed, ordered, items cannot be changed)
fixed = ("a","b","c")
fixed[0]= "d"

TypeError: 'tuple' object does not support item assignment

In [21]:
# Sets (not indexed, unordered, no duplicates)
s = {"a","b","b","c"}
s.remove("a")
s

{'b', 'c'}

In [22]:
s = s.union(set(languages))
s

{'Java', 'Julia', 'Python', 'R', 'b', 'c'}

In [23]:
# Dictionaries (indexed, unordered, changeable)
d = {"Python":1994,"R":1995,"Julia":2018}
y = d["R"]
d["S"] = 1976
list(d.keys())

['Python', 'R', 'Julia', 'S']

In [24]:
list(d.values())

[1994, 1995, 2018, 1976]

In [25]:
d2 = {("a",1):500, ("b",2):250}
d2[("b",2)]

250

In [26]:
# if statements (with elif and else)
n = 2 # try with different values
if n>5:
    print("more than 5")
elif n == 5:
    print("equal to 5")
else:
    print("less than 5")

less than 5

In [27]:
# for loops
for i in range(3):
    print(i)

0
1
2

In [28]:
for i in [1,2,3]:
    print(i)

1
2
3

In [29]:
for i in "hello":
    print(i)

h
e
l
l
o

In [30]:
for e in enumerate(["a","b","c"]):
    print(e)

(0, 'a')
(1, 'b')
(2, 'c')

In [31]:
for e in enumerate(["a","b","c"]):
    if e[0] % 2 == 0:
        print(e[1])

a
c

In [32]:
# for loops (with break and continue)
for i in [1,2,3]:
    if i % 2 == 0:
        break
    print(i)

1

In [33]:
for i in [1,2,3]:
    if i % 2 == 0:
        continue
    print(i)

1
3

In [35]:
# while loops (with break and continue)
i = 1
while i < 4:
    print(i)
    i += 1
i = 1
while i < 4:
    if i % 2 == 0:
        break
    print(i)
    i += 1

1
2
3
1

In [36]:
i = 1
while i < 4:
    if i % 2 == 0:
        continue
    print(i)
    i += 1
print("This will never be printed - press the stop button!")

1

KeyboardInterrupt:

In [ ]:
# Creating lists without for/while loops
nl = []
for la in languages:
    nl += [la.lower()]
nl

In [ ]:
# Equivalent (but more efficient):
nl = [la.lower() for la in languages]
nl

In [ ]:
# Include only items with multiple characters
nl = [la.lower() for la in languages if len(la) > 1]
nl

In [ ]:
# Convert items only with multiple characters
nl = [la.lower() if len(la) > 1 else la for la in languages]
nl

In [ ]:
# Generate a list with all characters
cs = [c for la in languages for c in la]
cs

In [ ]:
# functions (using def and return)
def add_one_and_print(a):
    a += 1
    print(a)
    return a
b = 1
c = add_one_and_print(b)
print(b)

In [ ]:
def add_two_to_second(l1):
    l1[1] += 2
l = [1,2,3,4,5]
r = add_two_to_second(l)
print(l)
r is None

In [ ]:
# functions with default argument values
def diff(a=10,b=20):
    return a-b
d0 = diff()
d0

In [ ]:
d1 = diff(5,6)
d1

In [ ]:
d2 = diff(5)
d2

In [ ]:
d3 = diff(b=5)
d3

In [ ]:
d4 = diff(b=2,a=3)
d4

In [ ]:
# Lambda functions = anonymous functions with one expression
r = (lambda x: x+1)(5)
r

In [ ]:
f = lambda x,y: x+y
sum = f(2,3)
sum

In [ ]:
def deriv(f,x,h):
    return (f(x+h)-f(x))/h
deriv(lambda x: x**2,8,1e-10)

In [ ]:
# Class definitions (using class)
class DSLang:
    def __init__(self, name, year):
        self.name = name
        self.year = year
l1 = DSLang("Python",1994)
l2 = DSLang("Julia",2018)
print(l1.name)

In [ ]:
# Methods
class DSLang:
    def __init__(self, name, year):
        self.name = name
        self.year = year
    def age(self,current_year):
        return current_year-self.year
l2 = DSLang("Julia",2018)
print(l2.age(2019))

In [ ]:
# Special methods
class Super:
    def __init__(self, age):
        self.age = age
    def __str__(self):
        return "My age is: "+str(self.age)
    def __eq__(self,other):
        return other > self.age
    def __len__(self):
        return self.age
o = Super(5)
print(o)
o == 7

In [ ]:
# Inheritance
class Sub(Super):
    def __init__(self,age=3):
        self.age = age
s = Sub()
print(s)
len(s)

In [ ]:
# Import a module and use its definitions
import my_definitions
lo = my_definitions.DSLang("R",1995)

In [ ]:
import my_definitions as md
lo = md.DSLang("R",1995)

In [ ]:
from my_definitions import DSLang
lo = DSLang("R",1995)

In [ ]:
# Reloading a module (after having edited its definitions)
from importlib import reload
reload(my_definitions)

In [ ]:
# Write to standard output
print("R",1995)
print("N:{} Y:{}".format("R",1995))
print("F: {:.2f}".format(31.41592))
print("F: {:.4f}".format(31.41592))

In [ ]:
# Write to files
f = open("temp.txt","w")
result = [1,2,3]
f.write(str(result))
f.close()

In [ ]:
f = open("temp.txt","a")
f.write("Bye!\n")
f.close()